* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
}

body h1 {
    font-family: 'Big shoulders display', sans-serif;
    color: hsl(0, 0%, 95%);
}

body p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}

.image-svg{
    width: 50px;
}

.card-one{
    background-color: hsl(31, 77%, 52%);
}
.card-two{
    background-color: hsl(184, 100%, 22%);
}
.card-three{
    background-color: hsl(179, 100%, 13%);
}

.card-container button{
    background-color:  hsl(0, 0%, 95%);
    border: none;
    width: 140px;
    border-radius: 25px;
    padding: 15px 20px;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
}
.card-container:first-child button{
    color: hsl(31, 77%, 52%);
}

.card-container:nth-child(2) button{
    color: hsl(184, 100%, 22%);
}

.card-container:last-child button{
    color:hsl(179, 100%, 13%)        
}

/* Hover button option */
.card-container button:hover{
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
}

.card-container:first-child button:hover{
    background-color: hsl(31, 77%, 52%);
}

.card-container:nth-child(2) button:hover{
    background-color: hsl(184, 100%, 22%);
}

.card-container:nth-child(3) button:hover{
    background-color: hsl(179, 100%, 13%);
}


@media screen and (max-width: 766px) {
    .card-container{
        width: 80vw;
        height: 400px;
        margin: 0 auto;
        padding: 2.3rem;
        display: flex;
        line-height: 1.5;
        font-size: 15px;
        flex-direction: column;
        justify-content: space-between;
    }
    .card-container:first-child{
        margin-top: 60px;
        border-radius: 10px 10px 0 0;
    }

    .card-container:last-child{
        margin-bottom: 60px;
        border-radius: 0 0 10px 10px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1022px) {
    .card-container{
        width: 50vw;
        height: 400px;
        margin: 0 auto;
        padding: 2.3rem;
        display: flex;
        line-height: 1.5;
        font-size: 15px;
        flex-direction: column;
        justify-content: space-between;
    }
    .card-container:first-child{
        margin-top: 60px;
        border-radius: 10px 10px 0 0;
    }

    .card-container:last-child{
        margin-bottom: 60px;
        border-radius: 0 0 10px 10px;
    }
}


@media screen and (min-width: 1023px) {

    .global-container{
        display:flex;
        max-width: 1375px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .card-container{
        width: 300px;
        height: 450px;
        padding: 3em;
        line-height: 1.5;
        font-size: 15px;
        display: flex;
        flex-direction: column;
    }
    
    .image-svg{
        width: 60px;

    }
    .card-container h1{
        font-size: 2em;
    }

    .card-container h1, p {
        margin-top: 1.2em;
    }

    .card-container p{
        width: 100%;
    }
    .card-container button{
        margin-top: 5em
    }

    .card-container:first-child{
        border-radius: 10px 0px 0 10px;
    }

    .card-container:last-child{
        border-radius: 0 10px 10px 0px;
    }
 
}
